.hero-card{
        background-image: linear-gradient(rgb(63, 199, 115),white,rgb(83, 83, 192));
    }
.whole  {
 background-color:rgb(189, 207, 235);
 }

.container{
    font-family: 'Cinzel', serif;}

.cardss{
    font-family: 'Abril Fatface', serif;
}

